
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  body{
    background: rgb(251,255,250);
background: radial-gradient(circle, rgba(251,255,250,1) 0%, rgba(233,238,230,0.6573223039215687) 29%, rgba(0,110,255,0.15592174369747902) 100%);
  }

  /* HEADER */
  #header-all{
    background: #4f8579;
    width:100%;
    color: azure;
    padding: 10px;
    display: flex;
    height: 120px;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: rgba(23, 67, 24, 0.9); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 10px;
    justify-content: space-between
  }

  #logo{
    width: 20%;
    height: auto;
    max-height: 150px;
    max-width: 150px;
    display: flex;
  }
  #header-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 15px;
    background-color: rgba(47, 73, 56, 0.35);
    border: 1px solid rgba(10, 52, 19, 0.354);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.487); 
  }
  
  .menu-button {
     width: auto;
    background: #082004;
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(10, 52, 19);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    /* color: #4a0f68; */
    transition: .2s ease-in-out;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    align-self: center;
  }
  
  .menu-button:hover {
    background: #92929256;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    
  }
  
  /* LOG/REG DIVS */

 .form-header{
    width: 100%;
    background-color: rgb(9, 45, 66); 
    box-shadow: 0 0 10px rgba(0, 157, 255, 0.542); 
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
 }
  h1{
    color: #eee;
    margin: 10px;
  }
.central-form-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
   
  }
  .central-form-div2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  
  .central-form-div3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* LOGIN - REG FORM */
  #registration-form{
    width: 400px;
    height: auto;
    padding: 15px;
    margin: 50px;
    border-radius: 5px;
    background-color: #15172b;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  }
  #incorrect-registration-data{
    margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  #r-reg{
    color: white;
  }
  #r-button{
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    width: 20%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #login-form{
    width: 400px;
    height: auto;
    padding: 15px;
    margin: 50px;
    border-radius: 0px;
    background-color: #15172b;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(236, 170, 170, 0.5); 
}
#login-status{
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#p-login{
  color: white;
}
#p-button{
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  color: #eee;
  cursor: pointer;
  font-size: 10px;
  height: 25px;
  margin-top: 10px;
  text-align: center;
  width: 20%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#theme-form{
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: #545884;
    display: flex;
    flex-direction: column;
}

#creation-form{
    width: 400px;
    height: auto;
    padding: 15px;
    margin: 50px;
    border-radius: 5px;
    background-color: #15172b;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

  .title {
    color: #eee;
    font-size: 36px;
    font-weight: 300;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .ic3{
    margin-top: 30px;
    display: flex;
    
  }
  
  .input {
    background-color: #303245;
    border-radius: 5px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 75%;
  }
  .input-list{
    background-color: #303245;
    border-radius: 5px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 5px 5px;
    width: 85%;
  }
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 150px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  .upload-avatar-label{
    margin-top: 10px;
    color: #eee;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #ffd500;
  }
  
  .option{
    width: 100%;
  }
  .option:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
  }
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  p {
    margin-bottom: 0;
  }
  a, a:link, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  
  /* SPINNER */
  
  .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
    
    0%,
    100% {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }


  /* Themes Cards*/
  
  .themesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }
  
  .themesContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    padding: 0;
    flex-wrap: wrap
  }
  .section {
    width: 100%; 
    height: auto;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  } 

 .row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
 
  .themeCard{
    width: 30%;
    height: 150px;
    border-radius: 3px;
    background-color: #15172b;
    box-shadow: 0 0 15px rgba(24, 34, 40, 0.8);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #5052718b;
    font-size: 22px;
    transition: .2s ease-in-out;
     }

  .infText{
    position: relative;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    transition: .2s ease-in-out;
  }
  
    .themeCard:hover{
    /* background: #4f8579; */
    scale: 1.02;
    background: repeating-linear-gradient(to bottom,
    rgb(247, 16, 0) 0px, rgb(247, 16, 0) 50px,
    #141e90 51px, #141e90 100px,
    rgb(255, 179, 0) 101px, rgb(255, 179, 0) 150px);
    font-size: 23px;
    transition: .2s ease-in-out;
  }
  
  .themeCard:hover .infText{
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
   
  } 
.progress{
  display: flex;
  width: 50%;
  flex-direction: row;
  align-content: space-around;
    align-items: center;
    justify-content: space-around;
}
  .themeCard2{
    width: 30%;
    height: 200px;
    border-radius: 3px;
    background-color: #15172b;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .2s;
  }
  .testResult{
    width: 30%;
    height: 200px;
    border-radius: 3px;
    background-color: #15172b;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .2s;
  }

  #begginTestButton{
    text-align: center;
    width: 100px;
    background: #efefef;
    text-decoration: none;
    display: flex;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(10, 52, 19);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    /* color: #4a0f68; */
    transition: .2s ease-in-out;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    align-self: center;
  }

  #begginTestButton:hover{
    background: #19470c9b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  #testIsOver{
    color:white

  }
  .testLink:hover{
    color: white;
  }

  .testLink2{
    color: rgb(67, 67, 67);
    font-weight: 300;
  }
  #testLink2{
    color: rgb(67, 67, 67);
    font-weight: 300;
  }
  #textTestBegin{
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around

  }
  .testHref{
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around
  }
  
  #success{
    color: rgb(99, 206, 255);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  }
  #countTrue{
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  }
  #good{
    margin-left: 5px;
    color: green;
    font-weight: 400;
  }
  #bad{
    margin-left: 5px;
    color: red;
    font-weight: 400;
  }
  #countFalse{
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  }
  .testScroll{
    width: 90%;
    height: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #08d;
    margin-bottom: 10px;
  }
  .testInfo{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    
  }
  .testInfo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
  }

.wordsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  position: relative;
  width: 200px; height: 200px;
  transition: 1s;
  transform-style: preserve-3d;
}
.cardFace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  position: absolute;
  backface-visibility: hidden;
  border: solid;
  border-radius: 5px;
  border-color: grey;
  box-shadow: 0 0 15px rgba(0,0,0,.8);
}
.cardFace.front {
  background: repeating-linear-gradient(to bottom,
  #15172b 0px, #15172b 66px,
   white 67px, white 133px,
   #15172b 134px, #15172b 200px
   );
}
.cardFace.back {
  background: repeating-linear-gradient(to bottom,
   white 0px, white 66px,
   #15172b 67px, #15172b 133px,
   white 134px, white 200px);
  transform: rotateY(180deg);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.card-done{
    background-image: url(../img/cookie.png) ;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    /* padding: 15px; */
    position: relative;
    width: 200px; height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    font-size: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    transition: 1s;
    background-color: rgb(246, 246, 246);
    border: solid;
    border-radius: 5px;
    border-color: grey;
    box-shadow: 0 0 15px rgba(55, 148, 18, 0.8);
}
#buttonDone{
    width: auto;
    background: #efefef;
    text-decoration: none;
    display: flex;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(10, 52, 19);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 35px;
    /* color: #4a0f68; */
    transition: .2s ease-in-out;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    align-self: center;
}
#buttonDone:hover{
    background: #19470c9b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.half{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wordTitle {
  color: black;
  text-align: center;
  margin-top: 10px;
  
}
.wordTitle2{
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.testDiv {
  margin: auto;
  width: 75%;
  height: 50%;
  margin-top: 40px;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid rgb(167, 167, 167);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.testWord {
  font-size: 48px;
  font-weight: 600;
  background-color: #eaeaea;;
  color: rgb(9, 5, 30);
  text-align: center;
  height: 85%;
  
  line-height: 370px;
}
.testBtnDiv {
  display: flex;
  background: white;
  height: 15%;
  background: rgba(23, 67, 24, 0.9);
  /* background-color: rgba(47, 73, 56, 0.35); */
  border: 1px solid rgba(10, 52, 19, 0.354);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.487); 
}
.testBtn {
  width: 25%;
  color: white;
  background: #082004;
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(10, 52, 19);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  /* color: #4a0f68; */
  transition: .2s ease-in-out;
  text-align: center;
  justify-content: space-around;
  align-content: center;
  align-self: center;
}
.testBtn:hover {
  background: #316b219b;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.testLink {
  color: rgb(92, 91, 91) !important;
  text-decoration: none !important;
}
.testLink:hover {
  color: black !important;
}
.test {
  font-size: 20px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(79, 79, 79);
  
}

.disabled{
  display: none;
}
.able{
  display:flex;
}
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

/* body {
  background:#ddd;
} */
.buttonDelete{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #F6F6F6;
}
.buttonDelete:before,
.buttonDelete:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 15px;
  height: 4px;
  background: rgb(87, 87, 87);
}
.buttonDelete:before {
  transform: rotate(45deg);
}
.buttonDelete:after {
  transform: rotate(-45deg);
}
.buttonDelete:before:hover {
  
  background: rgb(255, 0, 0);
}
.buttonDelete:after:hover {
  background: rgb(255, 0, 0);
}

.buttonDelete2{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #F6F6F6;
}
.buttonDelete2:before,
.buttonDelete2:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 15px;
  height: 4px;
  background: rgb(87, 87, 87);
}
.buttonDelete2:before {
  transform: rotate(45deg);
}
.buttonDelete2:after {
  transform: rotate(-45deg);
}
.buttonDelete2:before:hover {
  
  background: rgb(255, 0, 0);
}
#buttonDelete2:after:hover {
  background: rgb(255, 0, 0);
}
