
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  body{
    background-image: url(../img/fon.png);
    background-size: 2105px;
  }

  /* HEADER */
  #header-all{
    background: #4f8579;
    width:100%;
    color: azure;
    padding: 0;
    margin: 0;
    display: flex;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(23, 67, 24, 0.9); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 10px;
  }

  #logo{
    width: auto;
    height: 100px;
  }
  /* LOG/REG DIVS */

 .form-header{
    width: 100%;
    background-color: rgba(23, 67, 24, 0.9); 
    box-shadow: 0 0 10px rgba(0, 255, 8, 0.5); 
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
 }
  h1{
    color: #eee;
    margin: 10px;
  }
.central-form-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
   
  }
  
  
  /* LOGIN - REG FORM */
  #registration-form{
    width: 400px;
    height: 500px;
    padding: 15px;
    margin: 50px;
    border-radius: 0px;
    background-color: #15172b;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  }
  
  #login-form{
    width: 400px;
    height: 600px;
    padding: 15px;
    margin: 50px;
    border-radius: 0px;
    background-color: #15172b;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
#theme-form{
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: #545884;
    display: flex;
    flex-direction: column;
}

  .title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .ic3{
    margin-top: 30px;
    display: flex;
    
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 75%;
  }
  .input-list{
    background-color: #303245;
    border-radius: 5px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 90%;
  }
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  .upload-avatar-label{
    margin-top: 10px;
    color: #eee;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
  p {
    margin-bottom: 0;
  }
  a, a:link, a:hover, a:visited {
    color: #808097;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  /* SPINNER */
  
  .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
    
    0%,
    100% {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }


  /* Themes Cards*/
  
  .themesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }
  
  .section {
    width: 1300px; 
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  } 

 .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
 
  .themeCard{
    width: 31%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
  }

  .infText{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #160868;
    transition: .2s;
  }
  
    .themeCard:hover{
    background: #4f8579;
  }
  
  .themeCard:hover .infText{
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
  } 

.wordsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  position: relative;
  width: 200px; height: 200px;
  transition: 1s;
  transform-style: preserve-3d;
}
.cardFace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  position: absolute;
  backface-visibility: hidden;
  border: solid;
  border-radius: 5%;
  border-color: grey;
}
.cardFace.front {
  background: repeating-linear-gradient(to bottom,
  #fdf0df 0px, #fdf0df 66px,
   white 67px, white 133px,
   #fdf0df 134px, #fdf0df 200px
   );
}
.cardFace.back {
  background: repeating-linear-gradient(to bottom,
   white 0px, white 66px,
   #fdf0df 67px, #fdf0df 133px,
   white 134px, white 200px
   );
  transform: rotateY(180deg);
  color: black;
}
.wordTitle {
  color: black;
}
.testDiv {
  margin: auto;
  width: 800px;
  height: 400px;
  margin-top: 80px;
  font-weight: bold;
  border: 1px solid black;
}
.testWord {
  font-size: 40px;
  background: white;
  text-align: center;
  height: 85%;
  line-height: 370px;
}
.testBtnDiv {
  display: flex;
  background: white;
  height: 15%;
}
.testBtn {
  font-size: 20px;
  width: 25%;
  border: 1px solid #ddd;
  background: white;
  color: rgb(99, 97, 97);
  font-weight: bold;
}
.testBtn:hover {
  color: black;
}
#a1 {
  display: block !important;
}
.testLink {
  color: rgb(92, 91, 91) !important;
  text-decoration: none !important;
}
.testLink:hover {
  color: black !important;
}